

.header {
        text-align: center;
        font-family: "Georgia";
}

.boxed, .boxed-plain {
        border-radius: 2%;
        padding: 5%;
        background: #B8BECC;
        border: solid 4px #395473;
        font-family: "Georgia";
        margin-right: 20%;
        margin-left: 20%;
}

.boxed-plain {
        background: white;
}

.offsite-link {
        width: 12px;
        color: black;
}
.offsite-link:hover {
        color: #6699DD;
}


.bullet-list {
        padding-left: 40px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-bottom: 0;
}

.mini-heading {
        font-weight: bold;
}
.mini-subheading {
        font-style: italic;
}
.right-id {
        float: right;
}
.section-heading {
        border-top: medium double #404040;
        border-bottom: thin solid #404040;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
}

.img-circle {
        border-radius: 50%;
}

.profile-pic {
        width: 30%;
}

html {
        background: #667280;
}
.centered-text {
        text-align: center;
}

a:link {
        text-decoration: none;
        color: black;
}
a:visited {
        color: black;
}

a:hover {
        color: #6699DD;
}

.icon {
        width: 25px;
        color: black;
}
.icon:hover {
        color: #6699DD;
}

.divider {
        font-size: 20px;
        color: black;
}

.nav-icon {
        font-size: 30px;
        color: #395473;
}
